# ------------------------------------------------------------------------------------------ #
#                                                                                            #
#                Copyright (c) 2021 - Gilles Freart. All right reserved                      #
#                                                                                            #
#  Licensed under the MIT License. See LICENSE in the project root for license information.  #
#                                                                                            #
# ------------------------------------------------------------------------------------------ #

#---------------------------------------------------------------------
#                         Global settings
#---------------------------------------------------------------------

global
    log                     127.0.0.1 local0
    chroot      	    /var/lib/haproxy
    pidfile                 /var/run/haproxy.pid
    maxconn                 500
    user                    haproxy
    group                   haproxy
    daemon
    stats socket /var/lib/haproxy/stats

#---------------------------------------------------------------------
#  Common defaults that all the 'listen' and 'backend' sections will
#            use if not designated in their block
#---------------------------------------------------------------------

defaults
    mode                    tcp
    log                     global
    retries                 2
    timeout connect         4s
    timeout client          30m
    timeout server          30m
    timeout check           5s

